<div class="h-full px-3 py-4 overflow-y-auto w-fit lg:w-60 shadow-2xl backdrop-blur-sm">
  <ul class="space-y-3 font-medium">
    <li>
      <h1 class="text-4xl font-semibold p-2 text-blizzard-blue-700 hidden lg:block">INVENT</h1>
    </li>
    <li *ngFor="let item of nav_list">
      <button [routerLink]="item.url"
        class="flex w-full items-center hover:bg-gray-300 hover:shadow-inner p-2 rounded-md">
        <mat-icon class="text-blizzard-blue-800">{{ item.icon }}</mat-icon>
        <span class="ml-3 hidden lg:block">{{ item.title }}</span>
      </button>
    </li>
    <li>
      <a (click)="signOut()"
        class="cursor-pointer flex items-center hover:bg-gray-300 hover:shadow-inner p-2 rounded-md">
        <mat-icon class="text-blizzard-blue-800">logout</mat-icon>
        <span class="ml-3 hidden lg:block">Sign out</span>
      </a>
    </li>
  </ul>
</div>
