<div class="p-8 max-w-full w-full h-full grid grid-cols-1 lg:grid-cols-3 gap-3 gap-x-10 overflow-auto items-center">
    <section class="col-span-3 grid lg:grid-cols-3 gap-8 gap-x-10 items-center">
        <div class="col-span-1">
            <app-card [title]="'Total shipments:'" [number]="total"></app-card>
        </div>
        <div class="col-span-1">
            <app-card [title]="'Total companies:'"></app-card>
        </div>
        <div class="col-span-1">
            <div id="chart-pie" *ngIf="pieChartOptions">
                <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                    [labels]="pieChartOptions.labels" [title]="pieChartOptions.title" [theme]="pieChartOptions.theme"
                    [responsive]="pieChartOptions.responsive"></apx-chart>
            </div>
        </div>
    </section>

    <div class="col-span-2 flex flex-col gap-8">
        <h1 class="text-2xl font-semibold tracking-tight">Last shipments</h1>
        <app-list *ngIf="columns.length > 0" [data]="shipments" [columns]="columns"></app-list>
    </div>
    <div class="col-span-2 lg:col-span-1">
        <div id="chart" *ngIf="chartOptions">
            <apx-chart [title]="chartOptions.title" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill" [colors]="chartOptions.colors"
                [markers]="chartOptions.markers"></apx-chart>
        </div>
    </div>
</div>